package ${package}.${moduleName}.mapper;

import ${mainPath}.spi.${moduleName}.${className};

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper extends IBaseMapper<${className}> {
	
}
