package ${package}.${moduleName}.service;

import ${package}.${moduleName}.service.IBaseService;
import ${package}.${moduleName}.utils.PageDataUtils;
import ${mainPath}.spi.${moduleName}.${className};
import ${mainPath}.vo.PageData;
import ${package}.${moduleName}.model.qo.QueryPage;

import org.springframework.transaction.annotation.Transactional;

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IBaseService<${className}> {

    PageData<${className}> queryPage(QueryPage pageObj);
}

