package ${package}.${moduleName}.service.impl;

import org.springframework.stereotype.Service;
import java.util.Map;

import ${package}.${moduleName}.mapper.${className}Mapper;
import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;
import ${package}.${moduleName}.utils.PageDataUtils;
import ${package}.${moduleName}.model.qo.QueryPage;
import ${mainPath}.vo.PageData;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;


@Service("${classname}Service")
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}Entity> implements ${className}Service {

    @Override
    public PageData<${className}> queryPage(QueryPage pageObj) {
    
        Page<${className}> page = PageHelper.startPage(pageObj.getPageNum(), pageObj.getPageSize());
        // TODO 自己写条件筛选的实现
        return PageDataUtils.buildPageData(page);
    }

}
